apiVersion: v1
kind: Pod
metadata:
  name: {{ name }}
  labels:
    name: {{ labels_name }}
    role: {{ labels_role }}
spec:
  restartPolicy: Never
  containers:
  - name: {{ container_name }}
    image: {{ image }}
    ports:{% for itr in range(0, port_num) %}
    - containerPort: {{ port_base + itr}}
      name: {{port_name}}-{{ itr }}{% endfor %}
    volumeMounts:
    - name: home-path
      mountPath: {{ host_path }}
    resources:
        limits:
          nvidia.com/gpu: {{ gpu_num }}
  volumes:
  - name: home-path
    persistentVolumeClaim:
      claimName: nfs-pvc
  nodeSelector:
    device: gpu
---
