apiVersion: v1
kind: Service
metadata:
  name: {{ name }}
  labels:
    name: {{ labels_name }}
    role: {{ labels_role }}
spec:
  ports:{% for itr in range(0, port_num) %}
  - name: {{port_name}}-{{ itr }}
    port: {{ port_base + itr}}
    targetPort: {{ target_port_base + itr}}{% endfor %}
  selector:
    name:  {{ selector_name }}
